@charset "UTF-8";
* {
  outline: none; }

body {
  background-color: #0D263C;
  font-family: "Arial", sans-serif; }

h1 {
  font-size: 30px;
  font-weight: bold;
  display: block;
  width: 80%;
  margin: auto;
  color: white; }

select.heading-select {
  background-color: #1381B5;
  color: white;
  font-size: 30px;
  font-weight: bold; }

#toggle-nav {
  cursor: pointer; }

nav {
  background-color: #0D263C;
  padding: 5px;
  height: max-content;
  color: #1381B5;
  width: 98%;
  max-width: 1500px;
  margin: 0 auto 50px auto; }
  nav p {
    margin: 5px; }
  nav #buttons {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 800px) {
      nav #buttons {
        display: block; } }
    nav #buttons div {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      @media (max-width: 812px) {
        nav #buttons div {
          display: block; } }
  nav input[type='range'] {
    width: 1200px; }
  nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
  nav ul#select-year {
    justify-content: space-between; }
  nav ul#legend {
    justify-content: flex-start;
    margin: 20px 0; }
    @media (max-width: 500px) {
      nav ul#legend {
        font-size: 15px; } }
    nav ul#legend li {
      margin-right: 20px;
      margin-bottom: 5px; }
      nav ul#legend li span {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px; }
  nav button.button {
    font-family: inherit;
    margin: 10px 10px 10px 0;
    background-color: #3F627F;
    border: 0;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    color: white; }
    @media (max-width: 500px) {
      nav button.button {
        font-size: 14px;
        margin: 5px 5px 5px 0; } }
  nav button:hover {
    background-color: #1381B5; }
  nav button:active {
    position: relative;
    top: 4px; }
  nav button.active {
    background-color: #1381B5; }
  nav .rs-scale span:nth-child(odd) ins {
    opacity: 0; }

#chart-wrapper {
  position: relative;
  max-width: 1500px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px auto; }

#chart {
  grid-column: 1/2;
  grid-row: 2/3; }
  @media (max-width: 500px) {
    #chart {
      grid-template-columns: repeat(auto-fill, 160px); } }

svg text {
  font-family: "Arial", sans-serif; }

path.domain, g.tick line {
  stroke: #1381B5; }

g.tick text {
  font-size: 16px;
  fill: #1381B5; }

.multiple .axis-hint {
  display: none; }

.multiple:nth-of-type(1) .axis-hint {
  display: block; }

#wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 50px auto; }

table {
  width: 100%;
  color: #1381B5; }

th:nth-child(2) {
  min-width: 130px; }

th:nth-child(3) {
  min-width: 150px; }

th:nth-child(6) {
  min-width: 60px; }

table td {
  text-align: center; }

th {
  position: relative;
  letter-spacing: 1px;
  padding: 5px 5px 40px 5px; }
  th h3 {
    content: "×";
    cursor: pointer; }
  th p, th h3 {
    font-size: 14px;
    margin: 0 10px 0 0;
    text-transform: uppercase;
    display: inline-block; }
  th select {
    background-color: #0D263C;
    color: #429ac4;
    position: absolute;
    left: 0;
    width: 100%;
    top: calc(100% - 35px);
    max-height: 100px;
    overflow-y: auto;
    padding-inline-start: 0;
    text-align: left;
    text-transform: capitalize;
    padding: 5px;
    list-style-type: none;
    z-index: 10000; }
    th select option {
      font-size: 14px;
      padding: 3px 0;
      font-weight: 300; }
  th select option {
    text-transform: capitalize; }

table td:nth-child(1) {
  text-align: left; }

tbody > tr:nth-child(even) td {
  color: #89c0da !important; }

tbody > tr:nth-child(odd) {
  background-color: #429ac4 !important; }

tbody > tr:nth-child(odd) td {
  border-top: 1px solid #429ac4 !important;
  color: #0D263C; }

option {
  text-transform: lowercase;
  color: #429ac4;
  background-color: #0D263C; }

.pagination-container {
  width: 100%;
  max-width: 1200px;
  margin: auto; }

ul.pagination {
  display: flex;
  padding: 0; }

ul.pagination li {
  min-width: 30px;
  background-color: #429ac4;
  color: #0D263C;
  margin: 0 5px;
  text-align: center;
  cursor: pointer;
  list-style-type: none; }

ul.pagination li.active {
  background-color: #89c0da; }

.hidden {
  opacity: 0;
  pointer-events: none; }

.display-none {
  display: none; }

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  table, thead, tbody, th, td, tr {
    display: block; }

  th:nth-child(1), th:nth-child(4), th:nth-child(5) {
    display: none; }

  tr {
    border: 1px solid #ccc; }

  td {
    border: none;
    position: relative;
    padding: 5px 0  5px 50%;
    text-align: left !important; }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap; }

  td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block; } }
form {
  grid-column: 1/2;
  grid-row: 1/2;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px; }

.multiselect {
  color: white;
  width: 150px; }

.selectBox {
  position: relative; }

.selectBox select {
  width: 100%;
  font-weight: bold; }

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

#checkboxes {
  height: 200px;
  overflow-y: auto;
  background-color: #0D263C;
  padding: 5px 0;
  display: none; }

#checkboxes label {
  display: block;
  font-size: 14px; }

#checkboxes label:hover {
  background-color: #1e90ff; }

button {
  margin: 20px 0 0 0; }

#redraw {
  width: 200px;
  grid-column: 2/3; }

/*# sourceMappingURL=styles.css.map */
