@keyframes colorpulse {
  0% {
    background-color: #3FA9F5; }
  25% {
    background-color: white; }
  50% {
    background-color: #3FA9F5; }
  75% {
    background-color: white; }
  100% {
    background-color: #3FA9F5; } }
@-webkit-keyframes colorpulse {
  0% {
    background-color: #3FA9F5; }
  25% {
    background-color: white; }
  50% {
    background-color: #3FA9F5; }
  75% {
    background-color: white; }
  100% {
    background-color: #3FA9F5; } }
* {
  outline: none; }

body {
  background-color: #0D263C;
  font-family: "Arial", sans-serif; }

h1 {
  font-size: 40px;
  font-weight: bold;
  display: block;
  width: 80%;
  margin: 50px auto;
  color: white;
  text-align: center;
  line-height: 1.6; }

h3 {
  margin: 0; }

select.heading-select {
  background-color: #3FA9F5;
  color: white;
  font-size: 40px;
  font-weight: bold; }

#toggle-nav {
  cursor: pointer; }

.subtitle {
  text-transform: uppercase;
  color: #3FA9F5; }

#legend-wrapper {
  max-width: 1500px;
  width: 100%;
  margin: 20px auto;
  position: relative;
  display: grid;
  grid-template-columns: 170px auto;
  color: #1381B5;
  align-items: flex-end;
  align-content: space-between; }
  @media (max-width: 812px) {
    #legend-wrapper {
      display: block; } }
  #legend-wrapper .subtitle {
    grid-row: 1/2;
    grid-column: 2/3; }
  #legend-wrapper form {
    width: 98%;
    grid-column: 1/2;
    grid-row: 2/3;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0; }
    #legend-wrapper form .multiselect {
      color: white;
      width: 100%; }
    #legend-wrapper form .selectBox {
      position: relative; }
    #legend-wrapper form .selectBox select {
      height: 100%;
      width: 98%;
      color: #3FA9F5;
      border: 1px solid #3FA9F5;
      padding: 3px;
      background-color: #0D263C; }
    #legend-wrapper form .overSelect {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0; }
    #legend-wrapper form #checkboxes {
      background-color: #0D263C;
      color: #3FA9F5;
      padding: 5px 0;
      display: none;
      z-index: 10; }
    #legend-wrapper form #checkboxes label {
      display: block;
      font-size: 14px; }
    #legend-wrapper form #checkboxes label:hover {
      background-color: #1e90ff; }
  #legend-wrapper #checked-platforms {
    margin: 20px 0;
    color: #3FA9F5;
    background-color: #0D263C;
    border: 1px solid #3FA9F5; }
  #legend-wrapper .warning {
    -webkit-animation: colorpulse 1s infinite alternate;
    animation: colorpulse 1s infinite alternate; }
  #legend-wrapper #capital-legend {
    grid-column: 2/3; }

nav {
  background-color: #0D263C;
  padding: 5px;
  height: max-content;
  color: #1381B5;
  width: calc(98% - 340px);
  max-width: calc(1420px - 260px);
  margin: 0 auto 50px auto; }
  @media (max-width: 812px) {
    nav {
      display: block;
      width: 97%; } }
  nav input[type='range'] {
    width: 1200px; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

ul#select-year {
  justify-content: space-between; }

ul#legend {
  grid-column: 2/3;
  justify-content: flex-start; }
  @media (max-width: 500px) {
    ul#legend {
      font-size: 15px; } }
  ul#legend li {
    font-size: 17px;
    margin-right: 20px;
    margin-bottom: 5px; }
    ul#legend li span {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 5px; }

#chart-wrapper {
  position: relative;
  max-width: 1420px;
  width: calc(100% - 80px);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 10; }
  @media (max-width: 812px) {
    #chart-wrapper {
      display: block; } }

#chart {
  width: 100%;
  grid-column: 1/2; }
  @media (max-width: 500px) {
    #chart {
      grid-template-columns: repeat(auto-fill, 160px); } }

svg {
  z-index: 5; }

svg text {
  font-family: "Arial", sans-serif; }

path.domain, g.tick line {
  stroke: #1381B5; }

g.tick text {
  font-size: 16px;
  fill: #1381B5; }

.multiple .axis-hint {
  display: none; }

.multiple:nth-of-type(1) .axis-hint {
  display: block; }

#wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 50px auto; }

table {
  width: 100%;
  color: #3FA9F5; }

th {
  position: relative;
  letter-spacing: 1px;
  padding: 5px;
  height: 30px;
  text-transform: uppercase;
  font-weight: normal; }

th:nth-child(2), th:nth-child(3) {
  min-width: 100px; }

table td {
  text-align: center; }

table td:nth-child(1) {
  text-align: left; }

tbody > tr:nth-child(even) td {
  color: #3FA9F5 !important; }

tbody > tr:nth-child(odd) td {
  border-top: 1px solid #3FA9F5;
  color: #0D263C; }

option {
  color: #3FA9F5;
  background-color: #0D263C; }

.pagination-container {
  width: 100%;
  max-width: 1200px;
  margin: auto; }

ul.pagination {
  margin-top: 20px;
  display: flex;
  padding: 0; }

ul.pagination li {
  min-width: 30px;
  background-color: #429ac4;
  color: #0D263C;
  margin: 0 5px;
  text-align: center;
  cursor: pointer;
  list-style-type: none; }

ul.pagination li.active {
  background-color: #89c0da; }

.hidden {
  opacity: 0;
  pointer-events: none; }

.display-none {
  display: none; }

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  table, thead, tbody, th, td, tr {
    display: block; }

  th:nth-child(1), th:nth-child(4), th:nth-child(5) {
    display: none; }

  tr {
    border: 1px solid #ccc; }

  td {
    border: none;
    position: relative;
    padding: 5px 0  5px 50%;
    text-align: left !important; }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap; }

  td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block; } }
.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px; }

.checkbox + label {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer; }

.checkbox + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: .2s; }

.checkbox + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: .2s; }

.checkbox:checked + label:before {
  background: #9FD468; }

.checkbox:checked + label:after {
  left: 26px; }

.checkbox:focus + label:before {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 0 0 0 3px rgba(255, 255, 0, 0.7); }

/*# sourceMappingURL=styles.css.map */
